@import url("base.css");

.areasactuacion {
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.imagenareas {
    position: relative;
    display: flex;
    justify-content: center;
}

.imagenareas img {
    height: 50%;
    width: 50%;
    border: 5px solid black;
    border-radius: 10px;
    padding: 4px;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 2em;
    text-align: justify;
}

ul {
    text-align: left;
    line-height: 1.5;
    font-weight: bold;
}

hr {
    background-color: white;
    border: white;
    height: 3px;
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.newsletter {
    position: sticky;
    top: 150px;
    margin: 40px 15px 15px 15px;
    border: 4px solid darkred;
    border-radius: 20px;
    padding: 10px;
}

.formnewsletter {
    align-items: center;
    text-align: center;
}

.formnewsletter label {
    display: block;
    width: auto;
    margin-top: 10px;
    padding: 5px;
}

.formnewsletter .botonnewsletter {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.formnewsletter .botonnewsletter input[type="submit"] {
    width: 50%;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: darkred;
    border: 3px hidden;
    border-radius: 50px;
}

.newsletter h2 {
    text-align: center;
}

footer p{
    align-items: center;
    text-align: center;
}