@font-face {
    font-family: "bitecade";
    src: url(../fonts/Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}

:root{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: rgb(255, 233, 233);

}
nav{
    background-color: rgb(128, 128, 128);
    color: white;
    text-align: center;
    padding: 0.75rem;
}
nav a{
   
}
nav a:hover{
  
}
nav ul{
   
}
nav li{
   
}

header{
    text-align: center;

}

header > * {
    display: inline-block;
    vertical-align: middle;
}

#bitecade{
    font-family: "bitecade";

}

.logo{
    width: 10%;
    height: 10%;
}
